In [ ]:
# D: && cd "DATA SCIENCE AND MACHINE LEARNING SM" && python -m notebook

In [1]:
# lists-0>1>2>    sequence 

fruits=['apple', 'banana', 'cherry',]
print(fruits)

['apple', 'banana', 'cherry']

In [2]:

fruits=['apple', 'banana', 'cherry',]
print(fruits[2])

cherry

In [4]:
#  list  method 

# append

fruits=['apple', 'banana', 'cherry',]
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [8]:
# insert korle   location  bole   dite hoy 
fruits=['apple', 'banana', 'cherry',]
fruits.insert(0 ,'orange')
print(fruits)

['orange', 'apple', 'banana', 'cherry']

In [12]:
# insert korle   location  bole   dite hoy 
fruits=['apple', 'banana', 'cherry',]
fruits.insert(3,'orange')
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [17]:
fruits=['apple', 'banana', 'cherry',]
fruits.extend(['grape', 'melon', 'mango'])
print(fruits)

['apple', 'banana', 'cherry', 'grape', 'melon', 'mango']

In [14]:
fruits=['apple', 'banana', 'cherry',]
fruits.clear()
print(fruits)

[]

In [28]:
fruits=['apple', 'banana', 'cherry',]
fruits.remove('banana')
print(fruits)

['apple', 'cherry']

In [29]:
fruits=['apple', 'banana', 'cherry',]
fruits.pop()
print(fruits)

['apple', 'banana']

In [31]:
fruits=['apple', 'banana', 'cherry', 'apple']
x=fruits.count('apple')
print(x)

2

In [21]:
# sort()   method
numbers=[3,6,8,10,9]
numbers.sort()
print(numbers)

[3, 6, 8, 9, 10]

In [27]:
# reverse ()   method
#  akhane  20 ta   sober age aser  kotha  but ase nai kn  2 nd  a  aslo kn 
numbers=[3,6,8,20,9]
numbers.reverse()
print(numbers)

[9, 20, 8, 6, 3]

In [33]:
#  length  keno 1  index theke  hisab korte hoy 
#  but  array ar index to 0  theke  start hoy 
numbers=[3,6,8,20,9]
x=len(numbers)
print(x)

5

In [35]:
country=["Bangladesh","India","Pakistan","USA","UK","Canada","Africa"]
print(country[0:3])

['Bangladesh', 'India', 'Pakistan']

In [36]:

country=["Bangladesh","India","Pakistan","USA","UK","Canada","Africa"]
print(country[:5])

['Bangladesh', 'India', 'Pakistan', 'USA', 'UK']

In [37]:
country=["Bangladesh","India","Pakistan","USA","UK","Canada","Africa"]
print(country[5:1])

[]

In [39]:

#  5 tomo position theke suru hobe jabe sorbo sesh porjonto
country=["Bangladesh","India","Pakistan","USA","UK","Canada","Africa"]
print(country[5:])

['Canada', 'Africa']

In [41]:
#  2 tomo position theke suru hobe  6 tomo
# position  ar purboborti porjonto jabe 
country=["Bangladesh","India","Pakistan","USA","UK","Canada","Africa"]
print(country[2:6])

['Pakistan', 'USA', 'UK', 'Canada']

In [43]:
countryList=["Bangladesh","India","Pakistan","USA","UK","Canada","Africa"]
for item in countryList:
    print(item)

Bangladesh
India
Pakistan
USA
UK
Canada
Africa

In [44]:
# tiple method

# sequence 0>1>2>3

fruits=("apple","banana","cherry")
print(fruits[1])

banana

In [45]:
fruits=("apple","banana","cherry")
print(fruits[2])

cherry

In [49]:
#  tuple   convert to list 
fruitsTuple=("apple","banana","cherry")
fruitsList=list(fruitsTuple)
print(fruitsList)

['apple', 'banana', 'cherry']

In [26]:
#  list  convert to tuple 
fruitsList=["apple","banana","cherry"]
fruitsTuple=tuple(fruitsList)
print(fruitsTuple)

('apple', 'banana', 'cherry')

In [28]:
#  list  convert to tuple 
fruitsList=["apple","banana","cherry"]
fruitsTuple=tuple(fruitsList)
print(fruitsList)
print(fruitsTuple)

['apple', 'banana', 'cherry']
('apple', 'banana', 'cherry')

In [ ]:
## tuple  usecase
# storing , user data 
# inventory purchase , sales order
# add to cart , invoice, dropdown

# user data collection 
# table list

In [29]:
# set 
fruits={'apple', 'banana', 'cherry' , 'apple'}
print(fruits)

{'banana', 'apple', 'cherry'}

In [34]:
# set methods
fruits={'apple', 'banana', 'cherry'}
fruits.add('orange')
print(fruits)

{'banana', 'apple', 'orange', 'cherry'}

In [38]:
# set methods  multiple data add kora jaina add method diye 
fruits={'apple', 'banana', 'cherry'}
fruits.add('orange','mango')
print(fruits)

TypeError: set.add() takes exactly one argument (2 given)

In [35]:
# set methods  multiple data add kora jai update method diye 
fruits={'apple', 'banana', 'cherry'}
fruits.update('orange')
print(fruits)

{'banana', 'apple', 'e', 'o', 'cherry', 'r', 'g', 'n', 'a'}

In [39]:
# set methods  multiple data add kora jai update method diye 
fruits={'apple', 'banana', 'cherry'}
fruits.update(['orange' , 'grapes'])
print(fruits)

{'banana', 'apple', 'cherry', 'orange', 'grapes'}

In [43]:
# set methods   remove kora jay
fruits={'apple', 'banana', 'cherry'}
fruits.remove('banana')
print(fruits)

{'apple', 'cherry'}

In [44]:
 
fruits={'apple', 'banana', 'cherry'}
fruits.clear()
print(fruits)

set()

In [46]:
# set methods   remove kora jay
fruits={'apple', 'banana', 'cherry'}
fruits.pop()
print(fruits)

{'apple', 'cherry'}

In [48]:
# set union

set1={1,2,3}
set2={3,4,5}
result=set1.union(set2)
print(result)

{1, 2, 3, 4, 5}

In [49]:
# set union

set1={1,2,3}
set2={3,4,5}
# result=set1.union(set2)
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [52]:
# set interaction
set1={1,2,3}
set2={3,4,5}
result=set1.intersection(set2)
print(result)

{3}

In [55]:
# set different


set1={1,2,3}
set2={3,4,5}
result=set1.difference(set2)
print(result)

{1, 2}

In [ ]:

Sets Use case

removing duplicate
filteringh data
mathmatical set operation
unique element

In [58]:
# """ dictionary
# python a dictionary   jeiti 

# jabascript a oitake   object bolahoy  /  JSON Array

# KEY:VALUE Pair Data
# KEY(String):VALUE(Dynamic)
# """

In [61]:
student={
    'name':'jhon',
    'age':23,
    'subject':'jhon',
    'isbangladeshi':'True'
}
print(student)

{'name': 'jhon', 'age': 23, 'subject': 'jhon', 'isbangladeshi': 'True'}

In [63]:
student={
    'name':'jhon',
    'age':23,
    'subject':'jhon',
    'isbangladeshi':'True'
}
print(student['name'])

jhon

In [64]:
student={
    'name':'jhon',
    'age':23,
    'subject':'jhon',
    'isbangladeshi':'True'
}
print(student['age'])

23

In [67]:
student={
    'name':'jhon',
    'age':23,
    'subject':'jhon',
    'isbangladeshi':'True'
}
print(student['isbangladeshi'])

True

In [84]:
student={
    'name':'jhon',
    'age':23,
    'subject':'jhon',
    'isbangladeshi':'True'
}
print(student.keys())

dict_keys(['name', 'age', 'subject', 'isbangladeshi'])

In [76]:
student={
    'name':'jhon',
    'age':23,
    'subject':'jhon',
    'isbangladeshi':'True'
}
print(student.values())

dict_values(['jhon', 23, 'jhon', 'True'])

In [79]:
student={
    'name':'shofikul',
    'age':23,
    'department':'CSE',
    'isbangladeshi':'True'
}
print(student)

{'name': 'shofikul', 'age': 23, 'department': 'CSE', 'isbangladeshi': 'True'}

dict_keys(['name', 'age', 'department', 'isbangladeshi'])

In [81]:
student={
    'name':'shofikul',
    'age':23,
    'department':'CSE',
    'isbangladeshi':'True'
}
print(student.values())

dict_values(['shofikul', 23, 'CSE', 'True'])

In [ ]:
student={
    'name':'shofikul',
    'age':23,
    'department':'CSE',
    'isbangladeshi':'True'
}
print(student.keys())

In [85]:
student={
    'name':'shofikul',
    'age':23,
    'department':'CSE',
    'isbangladeshi':'True'
}
allkey=student.keys()
print(allkey)

dict_keys(['name', 'age', 'department', 'isbangladeshi'])

In [87]:

student={
    'name':'shofikul',
    'age':23,
    'department':'CSE',
    'isbangladeshi':'True'
}
updatePair=student.update({'age':22})
print(student)

{'name': 'shofikul', 'age': 22, 'department': 'CSE', 'isbangladeshi': 'True'}